@charset "UTF-8";

$breakpoints:(

'sp': 'screen and (max-width: 767px)', 
//767px以下（スマホ）用の表示

'tab': 'screen and (min-width: 768px) and (max-width: 1100px)', 
// 768-1100 px タブレット用の表示

'pc': 'screen and (min-width: 1101px)' 
// 1101px以上（PC）用の表示

);

//メディアクエリ用のmixinを定義。デフォ値はsp
@mixin mq($breakpoint: sp) {
  //map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
  //この中をカスタムできる
  @content;
  }
  }

// レイアウト幅

$layout-width-canvas: 1440px;
$layout-width-inner: 1060px;
$layout-width-vw: 1060;

// カラー
$link-color-active:red;
$link-color-base:#333;
$link-color-primary:blue;
$link-color-white:#fff;



// General
html {
  font-size: 100%;
}
body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}
img{
  width: 100%;
  height:auto;
}
a {
  text-decoration: none;
  color:#082B48;

  &:hover{
    opacity: 0.5;
    
  }
}

.container {
  width:90%;
  max-width: 980px;
  margin:auto;
  } 
  
  li {
    list-style: none;
  }
  
  /* ---common ---- */
  
  .clear::after{
    content:"";
    clear:both;
    display: block;

    @include mq('sp'){
      .clear::after{
        content:none;
      } 
    }
  }
  
  .section-title{
    font-size: 32px;
    font-weight:bold;
    text-align: center;
    margin-bottom: 40px;

    @include mq('sp'){
      .section-title{
        font-size: 24px;
        font-weight:bold;
        text-align: center;
        margin-bottom: 40px;
      }
    }
    
  }
  
  /* ----- header ------ */
  header{
    
    padding: 20px 0;

    .header-left{
      float:left;

      .header-title{
      font-size: 24px;
  }
  }
}
  .header-right{
  float: right;

  .header-nav-item {
    float: left;
    margin-left:50px;

    .header-nav-item a{
      font-size: 15px;
      font-weight: 600;
      line-height: 36px;

      @include mq('sp'){
        .header-left{
          float: none;

        }
         .header-title{
            text-align: center;
            margin:0;
          }
        
        .header-right{
          float: none;
        }
        .header-nav {
          display: flex;
          justify-content: space-between;
          margin:0;
        }
        .header-nav-item {
          float: none;
          margin: 0;
        }
      }
  }
  }
  }
  
  /* ----- top ------ */
  .top{
    background-image: url(../img/main-vsual-nontitle.png);
    background-size:cover;
    padding:80px 0;
  }
  
  .top-title{
    text-align: center;
    font-weight: bold;
    font-size:48px;
  }
  
  .top-subtitle{
    text-align: center;
    font-size:18px;
  }

  @include mq('sp'){
    .top-title{
      font-size:32px;
    }
    .top-subtitle{
      font-size:12px;
    }
  }
  
  /* ----- about ------ */
  .about{
    padding: 60px 0;

    @include mq('sp'){
      .about{
        padding: 80px 0;
      }
    }
  }
  .wrapper-photo{
    float: left;
    width: 48%;

    @include mq('sp'){
      .wrapper-photo{
        float: none;
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
  
  .wrapper-text{
    float: right;
    width: 48%;

    @include mq('sp'){
    
  .wrapper-text{
    float: none;
    width: 100%;
  }
    }
  }
  
  /* ----- course ------ */
  .course {
    background-color: #e3fcf4;
    padding:60px 0;
  }
  .course-wrapper{
    display: flex;
    justify-content: space-between;
    
  }
  .course-item{
    width:30%;
    
  }
  .course-item p{
    margin:0;
  }
  
  .course-item a:hover {
    opacity: 0.8;
  }
  
  .course-item a img{
    width: 100%;
  }

  @include mq('sp'){
    .course {
      padding: 80px 0;
    }
    .course-wrapper{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .course-item{
      width:100%;
      margin-bottom: 20px;
    }
  }
  
  .modal {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    display:none;
  }
  
  .bigimg{
    position:absolute;
    width: 80%;
    max-width: 800px;
    top: 250px;
    left: 0;
    right: 0;
    margin-right:auto;
    margin-left: auto;
  }
  
  .close-btn{
    color:$link-color-white;
    font-size: 40px;
    position: absolute;
    right: 20px;
    top:0;

    .close-btn a{
    color:$link-color-white;
    text-decoration: none;

  }
  }
  
  
  /* ----- contact ------ */
  .contact{
    text-align: center;
    padding: 40px 0;
  }
  
  input{
    width:600px;
    height:40px;
    font-size: 16px;
    border: solid 1px #082b48;
    border-radius:999px;
    display: block;
    margin:auto;
    margin-bottom: 20px;
  }
  
  .btn{
    padding: 20px 60px;
    font-size: 24px;
    border:1px solid black;
    font-weight:bold;
    border-radius: 4px;
  
  }
  
  .btn-register{
    color: #fff;
    background-color: #ec6d64;

    &:hover{
      opacity: 0.5;
      cursor: pointer;
      
    }
  }
  
  /* ----footer--- */
  footer{
    background-color: #082b48;
    padding: 20px 0;
    
  }
  
  .copyright{
    color: #fff;
    float: right;
    font-size: 12px;
    
    @include mq('sp'){
      .copyright{
        float: none;
        text-align: center;
        font-size: 10px;
      }
    }
  }
  
  .drawer-list{
    display: none;
  }
  
  
  #page_top {
      position: fixed;
      bottom: 30px;
      right: 20px;
  }
  #page_top a {
      background-color: #999;
      color: #fff;
      text-align: center;
      text-decoration: none;
      padding: 20px 20px;
  }
  #page_top a:hover {
      background-color: #666;
      text-decoration: none;
  }
  
  /* ----Responsive for SP (under 767px)---- */
  
  

